# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/web/node_modules
/.pnp
/web/.pnp
.pnp.js
/web/.pnp.js

# vscode
.vscode
/web/.vscode

# testing
/coverage
/web/coverage

# next.js
/.next/
/web/.next/
/out/
/web/out/

# production
/build
/web/build

# misc
.DS_Store
/web/.DS_Store
*.pem
/web/*.pem

# debug
npm-debug.log*
/web/npm-debug.log*
yarn-debug.log*
/web/yarn-debug.log*
yarn-error.log*
/web/yarn-error.log*

# Environment files
/.env
/env/!example.env
/web/*.env
/web/!example.env
/services/gateway/*.env
/services/gateway/!example.env
/services/customer-svc/*.env
/services/customer-svc/!example.env
/services/company-svc/*.env
/services/company-svc/!example.env
/services/product-svc/*.env
/services/product-svc/!example.env
/services/whatsapp-svc/*.env
/services/whatsapp-svc/!example.env
/services/auth-svc/*.env
/services/auth-svc/!example.env
/services/order-svc/*.env
/services/order-svc/!example.env
/services/file-svc/*.env
/services/file-svc/!example.env

# local env files
.env*.local
!example.env

# vercel
.vercel
/web/.vercel

# typescript
*.tsbuildinfo
/web/*.tsbuildinfo
next-env.d.ts
/web/next-env.d.ts
