# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/src/ui/node_modules
/.pnp
/src/ui/.pnp
.pnp.js
/src/ui/.pnp.js

# vscode
.vscode
/src/ui/.vscode

# testing
/coverage
/src/ui/coverage

# next.js
/.next/
/src/ui/.next/
/out/
/src/ui/out/

# production
/build
/src/ui/build

# misc
.DS_Store
/src/ui/.DS_Store
*.pem
/src/ui/*.pem

# debug
npm-debug.log*
/src/ui/npm-debug.log*
yarn-debug.log*
/src/ui/yarn-debug.log*
yarn-error.log*
/src/ui/yarn-error.log*

# Environment files
/src/backend/*.env
/src/backend/!example.env
/src/backend/gateway/*.env
/src/backend/gateway/!example.env
/src/backend/customer-svc/*.env
/src/backend/customer-svc/!example.env
/src/backend/company-svc/*.env
/src/backend/company-svc/!example.env




# local env files
.env*.local
!example.env

# vercel
.vercel
/src/ui/.vercel

# typescript
*.tsbuildinfo
/src/ui/*.tsbuildinfo
next-env.d.ts
/src/ui/next-env.d.ts
